:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.orangeBar {
  margin-top: 0;
  height: 2px;
  border-color: orange;
  background-color: orange;
}

.topNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: -0.5rem;
  /* margin-left: -3rem; */
}

li {
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: grey;
}

.navList {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
}

.navList-search {
  padding-right: 1.2rem;
}

li.navList:hover {
  background-color: whitesmoke;
  border-radius: 50px;
  color: black;
}

/* .listItem-home {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
} */

/* li.listItem {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
} */

.navSearch {
  height: 25px;
  width: 500px;
  border: solid grey 1px;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
}

li.navSearch {
  width: 2000px;
  padding: 0;
  margin-left: -3rem;
}

.delete {
  margin-top: 50rem;
  color: white;
}
