:root {
  font: 16px / 1 arial;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(239, 240, 241);
}

.orangeBar {
  margin-top: 0;
  height: 2px;
  border-color: orange;
  background-color: orange;
}

.greyBar {
  margin-top: 4.5rem;
  height: 0.25pt;
  /* border-color: grey; */
  background-color: grey;
}

.topNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: -0.5rem;
  margin-bottom: 0;
  /* margin-left: -3rem; */
}

.navBackground {
  background-color: white;
}

li {
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: grey;
}

p.vote {
  padding: 0;
  margin: 0;
  text-align: center;
}

.navList {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
}

.navList-search {
  padding-right: 1.2rem;
}

li.navList:hover {
  background-color: whitesmoke;
  border-radius: 50px;
  color: black;
}

.homeBox {
  background-color: white;
  margin-top: -25px;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
}

.homeTitle {
  font-size: 24px;
  font-weight: bold;
  padding-left: 32rem;
}

.browseTitle {
  font-size: 24px;
  font-weight: bold;
  padding-left: 32rem;
}

.browseBox {
  background-color: white;
  margin-top: -25px;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
}

.browseContainer {
  display: flex;
  width: 100%;
  /* border: solid red 2px; */
  margin-left: 2rem;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
  /* border: solid red 2px; */
}

.voteBox {
  margin-top: 10px;
  display: flex;
  width: 80px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: solid green 2px; */
}

/* change the item height to fit the icons within paramaters to click correctly */
.item-height {
  display: flex;
  flex-direction: column;
  height: 5rem;
  margin-left: 1rem;
  /* padding: 0; */
  /* margin: 0; */
  /* border: solid grey; */
  justify-content: center;
}

.questionBox {
  /* border: solid blue 2px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: solid red 2px; */
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
}

.voteNum,
.answerNum {
  font-size: 12px;
  font-weight: bolder;
  /* margin-top: 12px;
  margin-bottom: 5px; */
  text-align: center;
}

.voteWord,
.answerWord {
  font-size: 8px;
  /* padding-bottom: 10px; */
}

.fa-caret-up,
.fa-caret-down {
  font-size: 35px;
}

.questionTitle {
  font-size: 15px;
  color: rgb(47, 120, 198);
  font-weight: bold;
  margin-top: 22px;
  /* border: solid orange 2px; */
  /* margin-top: 5rem; */
}

.questionText {
  font-size: 12px;
  margin-top: -0.5rem;
  padding-top: 25px;
  color: rgb(61, 65, 70);
  /* border: solid gold 2px; */
}

.answerList {
  font-size: 13px;
  margin-top: 1rem;
  margin-left: 2rem;
  /* margin-top: 20rem; */
}

.answerBox {
  margin-top: 1.4rem;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
  width: 80%;
  /* border: solid gold 2px; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.answerContainer {
  margin-left: -0.5rem;
  /* border: solid purple 2px; */
}

/* .listItem-home {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
} */

/* li.listItem {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1rem;
} */

.navSearch {
  height: 25px;
  width: 500px;
  border: solid grey 1px;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
  font-size: 1rem;
}

li.navSearch {
  width: 2000px;
  padding: 0;
  margin-left: -3rem;
}

.delete {
  margin-top: 50rem;
  color: white;
}

.voteArrow {
  background-color: transparent;
  outline: none;
  border: none;
}

.askInstructions {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.askContainer {
  padding-top: 2rem;
  padding-left: 6rem;
  background-color: rgb(239, 240, 241);
  height: 100%;
  width: 100%;
  padding-bottom: 10rem;
  /* border: solid red 2px; */
}

/* .askTopBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: solid green 2px;
} */

.askBox {
  background-color: white;
  height: 80%;
  width: 94%;
  padding-left: 20px;
  padding-right: 8rem;
  /* border: solid blue 2px; */
}

.askTitle {
  font-size: 14px;
  padding-top: 1.5rem;
  margin-bottom: -5px;
}

.askTitleInstructions {
  font-size: 11px;
}

.askTitleInput {
  width: 98%;
  margin-bottom: 20px;
}
.askImage {
  height: 100px;
  width: 400px;
  position: absolute;
  margin-left: 30rem;
  margin-top: -3rem;
}

.askBody {
  font-size: 14px;
  padding-top: 3rem;
  margin-bottom: -5px;
}

.askBodyInstructions {
  font-size: 11px;
}

.askBodyInput {
  margin-bottom: 35px;
}

.askButton {
  background-color: rgb(61, 150, 248);
  color: white;
  border: solid 1px rgb(61, 155, 248);
  border-radius: 3px;
  padding: 10px;
  /* font-weight: bold; */
  font-size: 12px;
  margin-top: 1rem;
  cursor: pointer;
}

.askButton:hover {
  background-color: rgb(0, 121, 250);
}

.upIcon {
  height: 30px;
  margin: 0;
  padding-top: -20rem;
  padding-bottom: -20px;
  margin-top: -5rem;
  margin-bottom: -0.15rem;
  /* border: solid red 2px; */
}

.downIcon {
  height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: -0.75rem;
  /* border: solid red 2px; */
}

.yourAnswerContainer {
  margin-left: 6rem;
  margin-top: 1.7rem;
}

.answerInputText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}
